.container{
    width: calc(100% - 80px);
    height: 80px;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 80px;
}